<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>글 내용</title>
</head>
<body>
  <div id="container">
    <h1 th:text="${post.title}"></h1><br/>
    <p th:text="${post.content}"></p>

    <a th:href="@{'/blogs/' + ${post.blog.id} + '/posts/' + ${post.id} + '/update'}">게시글 수정</a>
    <form th:action="@{'/blogs/' + ${post.blog.id} + '/posts/' + ${post.id} + '/delete'}"
          th:object="${post}" method="post">
      <input id="name" th:field="${post.id}" hidden/>
      <button type="submit">게시글 삭제</button>
    </form>

    <!-- 댓글 리스트 -->
    <table>
      <thead>
        <tr>
          <th>작성자</th>
          <th>내용</th>
          <th>작성시간</th>
          <th>기능</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="comment : ${post.comments}">
          <td th:text="${comment.user.nickname}"/>
          <td th:text="${comment.content}"/>
          <td th:text="${comment.createdDate}"/>
          <td>
            <!-- 댓글 수정 -->

            <!-- 댓글 삭제 -->
            <form th:action="@{'/blogs/' + ${post.blog.id} + '/posts/' + ${post.id} + '/comments/' + ${comment.id} + '/delete'}"
                  th:object="${commentForm}"
                  method="post">
              <input id="comment_id" th:field="${commentForm.id}" th:value="${comment.id}" hidden/>
              <button type="submit">댓글 삭제</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- 댓글 작성-->
    <form th:action="@{'/blogs/' + ${post.blog.id} + '/posts/' + ${post.id} + '/comments/create'}"
          th:object="${commentForm}"
          method="post">
      <div class = "commentForm">
        <label for="content">내용</label>
        <input id="content" th:field="*{content}" placeholder="내용을 입력하세요." type="text" required><br/>
      </div>
      <button type="submit">댓글 작성</button>
    </form>
  </div>
</body>
</html>