<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>내 블로그</title>
</head>
<body>
  <div class="container">
    <table>
      <thead>
        <th>id</th>
        <th>blog_name</th>
        <th>owner</th>
      </thead>
      <tbody>
        <tr>
          <td th:text="${blog.id}"></td>
          <td th:text="${blog.blog_name}"></td>
          <td th:text="${blog.owner.username}"></td>
        </tr>
      </tbody>
    </table>

    <a th:href="@{'/blogs/' + ${blog.id} + '/posts/list'}">게시글 목록</a>
    <a th:href="@{'/blogs/' + ${blog.id} + '/posts/create'}">게시글 작성</a>

    <form th:action="@{'/blogs/' + ${blog.id} + '/delete'}" th:object="${blogForm}" method="post">
      <input id="name" th:field="*{blog_name}" hidden/>
      <button type="submit">블로그 삭제</button>
    </form>

    </form>
  </div>
</body>
</html>